<a href="https://colab.research.google.com/github/Bianca-Garciaf/Analise-de-dados-com-python/blob/main/intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>





#Manipulação de dados com Pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Referências úteis
- [Python Data Science Handbook - Capítulo 3](https://jakevdp.github.io/PythonDataScienceHandbook/index.html)
- [Guia de usuário do Pandas](https://pandas.pydata.org/docs/user_guide)
- [Youtube - Canal Programação Dinâmica](https://www.youtube.com/watch?v=wnGsAOPKjLo&list=PL5TJqBvpXQv6SSsEgQrNwpOLTupXPuiMQ&index=16)

## Instalação

In [ ]:
%pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

## Series

In [ ]:
idade_funcionarios = pd.Series(data=[30, 25, 40], index=["Ana", "Bruno", "Carolina"], name="idade")

In [ ]:
idade_funcionarios

Ana         30
Bruno       25
Carolina    40
Name: idade, dtype: int64

Para acessar os valores dessa Series, podemos nos referir a sua posição com o método `.iloc` ou ao seu rótulo com o método `.loc`:

In [ ]:
idade_funcionarios.iloc[0]

30

In [ ]:
idade_funcionarios.loc["Ana"]

Para listar os rótulos utilizados em uma Series, basta usar a propriedade `.index`:

In [ ]:
idade_funcionarios.index

Index(['Ana', 'Bruno', 'Carolina'], dtype='object')

## DataFrames

Podemos trazer esses dados para o Pandas na forma de DataFrames:

In [ ]:
# criando uma lista com as informações de cada funcionário
dados_funcionarios = [
    ["TI", 30, True],
    ["RH", 25, False],
    ["Comercial", 40, False],
    ["TI", 60, True],
]

In [ ]:
# criando um dataframe a partir dessa lista
df = pd.DataFrame(dados_funcionarios, index=["Ana", "Bruno", "Carolina", "Daniel"], columns=["depto", "idade", "home_office"])

In [ ]:
df

              depto  idade  home_office
Ana              TI     30         True
Bruno            RH     25        False
Carolina  Comercial     40        False
Daniel           TI     60         True

Há várias maneiras de extrair informações específicas de um DataFrame.

In [ ]:
# selecionando uma coluna
df["depto"]

In [ ]:
# qual é a diferença entre este código e o anterior?
df[["depto"]]

In [ ]:
# selecionando múltiplas colunas
df[["depto", "home_office"]]

In [ ]:
# selecionando uma linha por posição
df.iloc[0]

In [ ]:
# selecionando uma linha por rótulo (index)
df.loc["Bruno"]

In [ ]:
# selecionando uma linha E uma coluna
df.loc["Bruno", "depto"]

In [ ]:
# selecionando uma linha e múltiplas colunas
df.loc["Bruno", ["depto", "home_office"]]

In [ ]:
# removendo uma linha
df.drop(index="Bruno")

In [ ]:
# removendo uma coluna
df.drop(columns="idade")

Os DataFrames possuem propriedades que descrevem sua estrutura.

In [ ]:
df.columns

Index(['depto', 'idade', 'home_office'], dtype='object')

In [ ]:
df.index

Index(['Ana', 'Bruno', 'Carolina', 'Daniel'], dtype='object')

In [ ]:
df.dtypes

depto          object
idade           int64
home_office      bool
dtype: object

In [ ]:
df.shape

(4, 3)

E se quisermos trocar as linhas por colunas`transpose`:

---

In [ ]:
df.transpose()

## Lendo dados de arquivos

> Arquivos CSV são, na verdade, arquivos de texto para dados tabulares.

In [ ]:
url = "https://github.com/LearnDataSci/articles/raw/master/Python%20Pandas%20Tutorial%20A%20Complete%20Introduction%20for%20Beginners/IMDB-Movie-Data.csv"
movies = pd.read_csv(url, index_col="Rank")

In [ ]:
movies

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

## Operações com DataFrames

### Primeiros e últimos valores

In [ ]:
movies.head(3)

In [ ]:
movies.tail(3)

### Ordenação (`sort_values`)

In [ ]:
movies.sort_values("Rating")

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
830,Disaster Movie,Comedy,"Over the course of one evening, an unsuspectin...",Jason Friedberg,"Carmen Electra, Vanessa Lachey,Nicole Parker, ...",2008,87,1.9,77207,14.17,15.0
43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN
872,Dragonball Evolution,"Action,Adventure,Fantasy",The young warrior Son Goku sets out on a quest...,James Wong,"Justin Chatwin, James Marsters, Yun-Fat Chow, ...",2009,85,2.7,59512,9.35,45.0
648,Tall Men,"Fantasy,Horror,Thriller",A challenged man is stalked by tall phantoms i...,Jonathan Holbrook,"Dan Crisafulli, Kay Whitney, Richard Garcia, P...",2016,133,3.2,173,NaN,57.0
969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0
...,...,...,...,...,...,...,...,...,...,...,...
37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
250,The Intouchables,"Biography,Comedy,Drama",After he becomes a quadriplegic from a paragli...,Olivier Nakache,"François Cluzet, Omar Sy, Anne Le Ny, Audrey F...",2011,112,8.6,557965,13.18,57.0
118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN
81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0

> **Exercício:** Teste esse método usando o argumento `ascending=False` para ver o que acontece
>Os filmes foram ordenados da maior "rating" para o menor.

> **Exercício:** Use esse mesmo método para responder à pergunta: Quais são os filmes mais longos e mais curtos dessa tabela?

In [ ]:
movies.sort_values("Rating", ascending=False )

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN
37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
97,Kimi no na wa,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",2016,106,8.6,34110,4.68,79.0
...,...,...,...,...,...,...,...,...,...,...,...
969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0
648,Tall Men,"Fantasy,Horror,Thriller",A challenged man is stalked by tall phantoms i...,Jonathan Holbrook,"Dan Crisafulli, Kay Whitney, Richard Garcia, P...",2016,133,3.2,173,NaN,57.0
872,Dragonball Evolution,"Action,Adventure,Fantasy",The young warrior Son Goku sets out on a quest...,James Wong,"Justin Chatwin, James Marsters, Yun-Fat Chow, ...",2009,85,2.7,59512,9.35,45.0
43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN
830,Disaster Movie,Comedy,"Over the course of one evening, an unsuspectin...",Jason Friedberg,"Carmen Electra, Vanessa Lachey,Nicole Parker, ...",2008,87,1.9,77207,14.17,15.0

In [ ]:
movies.sort_values("Runtime (Minutes)", ascending=False )

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
829,Grindhouse,"Action,Horror,Thriller",Quentin Tarantino and Robert Rodriguez's homag...,Robert Rodriguez,"Kurt Russell, Rose McGowan, Danny Trejo, Zoë Bell",2007,191,7.6,160350,25.03,NaN
89,The Hateful Eight,"Crime,Drama,Mystery","In the dead of a Wyoming winter, a bounty hunt...",Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",2015,187,7.8,341170,54.12,68.0
966,Inland Empire,"Drama,Mystery,Thriller",As an actress starts to adopt the persona of h...,David Lynch,"Laura Dern, Jeremy Irons, Justin Theroux, Karo...",2006,180,7.0,44227,NaN,NaN
312,La vie d'Adèle,"Drama,Romance","Adèle's life is changed when she meets Emma, a...",Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...",2013,180,7.8,103150,2.20,88.0
83,The Wolf of Wall Street,"Biography,Comedy,Crime","Based on the true story of Jordan Belfort, fro...",Martin Scorsese,"Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...",2013,180,8.2,865134,116.87,75.0
...,...,...,...,...,...,...,...,...,...,...,...
712,La tortue rouge,"Animation,Fantasy",A man is shipwrecked on a deserted island and ...,Michael Dudok de Wit,"Emmanuel Garijo, Tom Hudson, Baptiste Goy, Axe...",2016,80,7.6,11482,0.92,86.0
950,Kicks,Adventure,Brandon is a 15 year old whose dream is a pair...,Justin Tipping,"Jahking Guillory, Christopher Jordan Wallace,C...",2016,80,6.1,2417,0.15,69.0
43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN
820,Wolves at the Door,"Horror,Thriller",Four friends gather at an elegant home during ...,John R. Leonetti,"Katie Cassidy, Elizabeth Henstridge, Adam Camp...",2016,73,4.6,564,NaN,63.0
794,Ma vie de Courgette,"Animation,Comedy,Drama","After losing his mother, a young boy is sent t...",Claude Barras,"Gaspard Schlatter, Sixtine Murat, Paulin Jacco...",2016,66,7.8,4370,0.29,85.0

### Identificação de valores frequentes (`value_counts`)

In [ ]:
movies["Director"].value_counts()

Director
Ridley Scott          8
David Yates           6
M. Night Shyamalan    6
Paul W.S. Anderson    6
Michael Bay           6
                     ..
Lee Toland Krieger    1
Gillies MacKinnon     1
Peter Atencio         1
James Mangold         1
Scot Armstrong        1
Name: count, Length: 644, dtype: int64

> **Exercício:** Quais são os 10 diretores com mais filmes nesse dataset?

In [ ]:
movies["Director"].value_counts().head(10)

Director
Ridley Scott          8
David Yates           6
M. Night Shyamalan    6
Paul W.S. Anderson    6
Michael Bay           6
Zack Snyder           5
Denis Villeneuve      5
Woody Allen           5
Peter Berg            5
Danny Boyle           5
Name: count, dtype: int64

### Aplicação de filtros

É possível usar operadores como `==`, `>`, `<`, `>=`, `<=` para criar séries booleanas.

In [ ]:
movies["Director"] == "Zack Snyder"

Rank
1       False
2       False
3       False
4       False
5       False
        ...
996     False
997     False
998     False
999     False
1000    False
Name: Director, Length: 1000, dtype: bool

> **Exercício:** Como fazer para obter a quantidade de filmes dirigidos por Zack Snyder?

In [ ]:
(movies["Director"] == "Zack Snyder").value_counts()

Director
False    995
True       5
Name: count, dtype: int64

In [ ]:
movies["Rating"] > 7

Rank
1        True
2       False
3        True
4        True
5       False
        ...
996     False
997     False
998     False
999     False
1000    False
Name: Rating, Length: 1000, dtype: bool

Combinando essas séries booleanas com o operados `.loc`

In [ ]:
movies.loc[movies["Director"] == "Zack Snyder"]

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
61,Batman v Superman: Dawn of Justice,"Action,Adventure,Sci-Fi",Fearing that the actions of Superman are left ...,Zack Snyder,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...",2016,151,6.7,472307,330.25,44.0
114,300,"Action,Fantasy,War",King Leonidas of Sparta and a force of 300 men...,Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",2006,117,7.7,637104,210.59,52.0
148,Watchmen,"Action,Drama,Mystery","In 1985 where former superheroes exist, the mu...",Zack Snyder,"Jackie Earle Haley, Patrick Wilson, Carla Gugi...",2009,162,7.6,410249,107.50,56.0
286,Sucker Punch,"Action,Fantasy",A young girl is institutionalized by her abusi...,Zack Snyder,"Emily Browning, Vanessa Hudgens, Abbie Cornish...",2011,110,6.1,204874,36.38,33.0
295,Man of Steel,"Action,Adventure,Fantasy","Clark Kent, one of the last of an extinguished...",Zack Snyder,"Henry Cavill, Amy Adams, Michael Shannon, Dian...",2013,143,7.1,577010,291.02,55.0

In [ ]:
movies.loc[movies["Rating"] > 7]

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
...,...,...,...,...,...,...,...,...,...,...,...
980,The Skin I Live In,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0
983,Across the Universe,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34,56.0
989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0

Também é possível utilizar operadores lógicos como `|` (OU), `&` (E) e `~` (NÃO) para combinar séries booleanas:

In [ ]:
movies.loc[(movies["Rating"] > 7) & (movies["Director"] == "Zack Snyder")]

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
114,300,"Action,Fantasy,War",King Leonidas of Sparta and a force of 300 men...,Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",2006,117,7.7,637104,210.59,52.0
148,Watchmen,"Action,Drama,Mystery","In 1985 where former superheroes exist, the mu...",Zack Snyder,"Jackie Earle Haley, Patrick Wilson, Carla Gugi...",2009,162,7.6,410249,107.50,56.0
295,Man of Steel,"Action,Adventure,Fantasy","Clark Kent, one of the last of an extinguished...",Zack Snyder,"Henry Cavill, Amy Adams, Michael Shannon, Dian...",2013,143,7.1,577010,291.02,55.0

> **Pergunta:** Como tornar o código acima mais legível?

Outro operador bastante útil para criar séries booleanas é o `isin`, utilizado para verificar se um valor faz parte de uma lista:

In [ ]:
movies["Director"].isin(["Ridley Scott", "David Yates"])

In [ ]:
# Quais foram os filmes dirigidos por Ridley Scott ou David Yates?
movies.loc[movies["Director"].isin(["Ridley Scott", "David Yates"])]

## Agregações

In [ ]:
# Quantos dias seriam necessários para ver todos os filmes da lista
movies["Runtime (Minutes)"].sum() / 60 / 24

In [ ]:
# Quando o primeiro filme do dataset foi lançado?
movies["Year"].min()

In [ ]:
# Quando o último filme do dataset foi lançado?
movies["Year"].max()

In [ ]:
# Qual foi a bilheteria média dos filmes dessa lista?
movies["Revenue (Millions)"].mean()

In [ ]:
movies["Runtime (Minutes)"].describe()

In [ ]:
movies["Director"].describe()

In [ ]:
movies.describe()

## Group By


Podemos calcular a soma dos faturamentos dos filmes com o método `.sum`:

In [ ]:
movies["Revenue (Millions)"].sum()

E se quisermos calcular essas somas para cada diretor individualmente combinar a agregação `.sum` com o método `.groupby`:

In [ ]:
movies["Revenue (Millions)"].groupby(movies["Director"]).sum()

Director
Aamir Khan               1.20
Abdellatif Kechiche      2.20
Adam Leon                0.00
Adam McKay             438.14
Adam Shankman          157.33
                        ...
Xavier Dolan             3.49
Yimou Zhang             45.13
Yorgos Lanthimos         8.81
Zack Snyder            975.74
Zackary Adler            6.53
Name: Revenue (Millions), Length: 644, dtype: float64

Outra sintaxe possível para o `groupby` é a seguinte:

In [ ]:
movies.groupby("Director")["Revenue (Millions)"].sum()

Director
Aamir Khan               1.20
Abdellatif Kechiche      2.20
Adam Leon                0.00
Adam McKay             438.14
Adam Shankman          157.33
                        ...
Xavier Dolan             3.49
Yimou Zhang             45.13
Yorgos Lanthimos         8.81
Zack Snyder            975.74
Zackary Adler            6.53
Name: Revenue (Millions), Length: 644, dtype: float64

> **Pergunta:** Quais foram os diretores que totalizaram os 10 maiores faturamentos?

In [ ]:
movies["Revenue (Millions)"].groupby(movies["Director"]).sum().sort_values(ascending=False).head(10)

Director
J.J. Abrams          1683.45
David Yates          1630.51
Christopher Nolan    1515.09
Michael Bay          1421.32
Francis Lawrence     1299.81
Joss Whedon          1082.27
Jon Favreau          1025.60
Zack Snyder           975.74
Peter Jackson         860.45
Gore Verbinski        829.82
Name: Revenue (Millions), dtype: float64

Outro exemplo de uso de `groupby`:

In [ ]:
movies["Revenue (Millions)"].groupby(movies["Director"]).describe()

## Manipulação de strings

O método `.str.contains` permite identificar se as strings em uma Series incluem um padrão:

In [ ]:
movies["Actors"].str.contains("Will Smith")

Rank
1       False
2       False
3       False
4       False
5        True
        ...
996     False
997     False
998     False
999     False
1000    False
Name: Actors, Length: 1000, dtype: bool

> **Exercícios:** Filtre a tabela para mostrar apenas os filmes do Will Smith.

In [ ]:
movies.loc[movies["Actors"].str.contains("Will Smith")]

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
74,Collateral Beauty,"Drama,Romance","Retreating from life after a tragedy, a man qu...",David Frankel,"Will Smith, Edward Norton, Kate Winslet, Micha...",2016,97,6.8,43977,30.98,23.0
489,Focus,"Comedy,Crime,Drama",In the midst of veteran con man Nicky's latest...,Glenn Ficarra,"Will Smith, Margot Robbie, Rodrigo Santoro, Ad...",2015,105,6.6,166489,53.85,56.0
496,I Am Legend,"Drama,Horror,Sci-Fi",Years after a plague kills most of humanity an...,Francis Lawrence,"Will Smith, Alice Braga, Charlie Tahan, Salli ...",2007,101,7.2,565721,256.39,65.0
497,Men in Black 3,"Action,Adventure,Comedy",Agent J travels in time to M.I.B.'s early days...,Barry Sonnenfeld,"Will Smith, Tommy Lee Jones, Josh Brolin,Jemai...",2012,106,6.8,278379,179.02,58.0
641,The Pursuit of Happyness,"Biography,Drama",A struggling salesman takes custody of his son...,Gabriele Muccino,"Will Smith, Thandie Newton, Jaden Smith, Brian...",2006,117,8.0,361105,162.59,64.0
685,Seven Pounds,"Drama,Romance",A man with a fateful secret embarks on an extr...,Gabriele Muccino,"Will Smith, Rosario Dawson, Woody Harrelson,Mi...",2008,123,7.7,245144,69.95,36.0
790,Hancock,"Action,Crime,Drama",Hancock is a superhero whose ill considered be...,Peter Berg,"Will Smith, Charlize Theron, Jason Bateman, Ja...",2008,92,6.4,366138,227.95,49.0
897,Concussion,"Biography,Drama,Sport","In Pittsburgh, accomplished pathologist Dr. Be...",Peter Landesman,"Will Smith, Alec Baldwin, Albert Brooks, David...",2015,123,7.1,61274,34.53,NaN
949,After Earth,"Action,Adventure,Sci-Fi",A crash landing leaves Kitai Raige and his fat...,M. Night Shyamalan,"Jaden Smith, David Denman, Will Smith,Sophie O...",2013,100,4.9,166512,60.52,33.0

O método `.str.len` permite calcular o tamanho das strings em uma Series:

In [ ]:
movies["Description"].str.len()

Rank
1       127
2       127
3       157
4       222
5       179
       ...
996     181
997     121
998     111
999      96
1000     79
Name: Description, Length: 1000, dtype: int64

> **Exercício:** Quais são os filmes com as descrições mais longas? E mais curtas?
Maior = Transformes
menor = piratas do caribe

In [ ]:
movies.loc[movies["Description"].str.len()]

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
127,Transformers: Age of Extinction,"Action,Adventure,Sci-Fi",Autobots must escape sight from a bounty hunte...,Michael Bay,"Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...",2014,165,5.7,255483,245.43,32.0
127,Transformers: Age of Extinction,"Action,Adventure,Sci-Fi",Autobots must escape sight from a bounty hunte...,Michael Bay,"Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...",2014,165,5.7,255483,245.43,32.0
157,Pacific Rim,"Action,Adventure,Sci-Fi",As a war between humankind and monstrous sea c...,Guillermo del Toro,"Idris Elba, Charlie Hunnam, Rinko Kikuchi,Char...",2013,131,7.0,400519,101.79,64.0
222,Cars,"Animation,Adventure,Comedy",A hot-shot race-car named Lightning McQueen ge...,John Lasseter,"Owen Wilson, Bonnie Hunt, Paul Newman, Larry t...",2006,117,7.1,283445,244.05,73.0
179,The Conjuring 2,"Horror,Mystery,Thriller",Lorraine and Ed Warren travel to north London ...,James Wan,"Vera Farmiga, Patrick Wilson, Madison Wolfe, F...",2016,134,7.4,137203,102.46,65.0
...,...,...,...,...,...,...,...,...,...,...,...
181,Bridget Jones's Baby,"Comedy,Romance",Bridget's focus on single life and her career ...,Sharon Maguire,"Renée Zellweger, Gemma Jones, Jim Broadbent,Sa...",2016,118,6.7,43086,24.09,59.0
121,Miss Peregrine's Home for Peculiar Children,"Adventure,Drama,Family",When Jacob discovers clues to a mystery that s...,Tim Burton,"Eva Green, Asa Butterfield, Samuel L. Jackson,...",2016,127,6.7,101058,87.24,57.0
111,The Belko Experiment,"Action,Horror,Thriller","In a twisted social experiment, 80 Americans a...",Greg McLean,"John Gallagher Jr., Tony Goldwyn, Adria Arjona...",2016,89,6.3,3712,10.16,44.0
96,The Nice Guys,"Action,Comedy,Crime","In 1970s Los Angeles, a mismatched pair of pri...",Shane Black,"Russell Crowe, Ryan Gosling, Angourie Rice, Ma...",2016,116,7.4,175067,36.25,70.0
79,Pirates of the Caribbean: Dead Man's Chest,"Action,Adventure,Fantasy",Jack Sparrow races to recover the heart of Dav...,Gore Verbinski,"Johnny Depp, Orlando Bloom, Keira Knightley, J...",2006,151,7.3,552027,423.03,53.0

O método `.str.split` permite transformar uma string em uma lista, utilizando um separador:

In [ ]:
movies["Genre"]

Rank
1        Action,Adventure,Sci-Fi
2       Adventure,Mystery,Sci-Fi
3                Horror,Thriller
4        Animation,Comedy,Family
5       Action,Adventure,Fantasy
                  ...
996          Crime,Drama,Mystery
997                       Horror
998          Drama,Music,Romance
999             Adventure,Comedy
1000       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [ ]:
movies["Genre"].str.split(",")

Rank
1        [Action, Adventure, Sci-Fi]
2       [Adventure, Mystery, Sci-Fi]
3                 [Horror, Thriller]
4        [Animation, Comedy, Family]
5       [Action, Adventure, Fantasy]
                    ...
996          [Crime, Drama, Mystery]
997                         [Horror]
998          [Drama, Music, Romance]
999              [Adventure, Comedy]
1000       [Comedy, Family, Fantasy]
Name: Genre, Length: 1000, dtype: object

In [ ]:
first_genre = movies["Genre"].str.split(",").str[0]
first_genre

Rank
1          Action
2       Adventure
3          Horror
4       Animation
5          Action
          ...
996         Crime
997        Horror
998         Drama
999     Adventure
1000       Comedy
Name: Genre, Length: 1000, dtype: object

É possível "derreter" ou "alongar" essas séries de listas utilizando o método `explode`:

In [ ]:
movies["Genre"].str.split(",").explode()

Rank
1          Action
1       Adventure
1          Sci-Fi
2       Adventure
2         Mystery
          ...
999     Adventure
999        Comedy
1000       Comedy
1000       Family
1000      Fantasy
Name: Genre, Length: 2555, dtype: object

> **Exercício:** Conte quantos filmes estão listados para cada gênero.

In [ ]:
movies["Genre"].str.split(",").str[0].value_counts()

Genre
Action       293
Drama        195
Comedy       175
Adventure     75
Crime         71
Biography     64
Animation     49
Horror        46
Mystery       13
Thriller      10
Fantasy        4
Sci-Fi         3
Romance        2
Name: count, dtype: int64

## Escrevendo dados em arquivos




Podemos usar o método `pd.read_csv` para trazer dados de arquivos CSV para Pandas DataFrames. O método `to_csv` faz o processo inverso: produz um arquivo CSV a partir de um Pandas DataFrame.

In [ ]:
movies.head(50).to_csv("first-50-movies.csv")

> **Exercício:** Salve um arquivo CSV com as linhas referentes aos 10 filmes com melhores avaliações (`Rating`).

In [ ]:
movies.sort_values(by="Rating", ascending=False).head(10).to_csv("best-movies.csv")

## Outros formatos de arquivos

### Planilhas Excel

Para trabalhar com planilhas do Excel em Pandas, precisamos da biblioteca `openpyxl`:

In [ ]:
%pip install openpyxl

As funções utilizadas para ler/escrever planilhas Excel são `pd.read_parquet` e `to_parquet`:

In [ ]:
movies.to_excel("IMDB-Movie-Data.xlsx")

### Arquivos Parquet

In [ ]:
%pip install pyarrow

Alternativamente, poderíamos ter utilizado a biblioteca `fastparquet`. As funções utilizadas para ler/escrever arquivos Parquet são `pd.read_parquet` e `to_parquet`:

In [ ]:
movies.to_parquet("IMDB-Movie-Data.parquet")

## Data cleaning

### Remoção de duplicatas

SimulaÇão um DataFrame com entradas duplicadas:

In [ ]:
example_duplicates = movies.iloc[[0, 1, 2, 3, 3, 4, 5, 6, 6]]

Podemos remover as duplicatas em Pandas utilizando o método `drop_duplicates`:

In [ ]:
example_duplicates.drop_duplicates()

Por padrão o método mantém apenas a primeira ocorrência entre as duplicatas. É possível alterar esse padrão para manter apenas a última (`keep="last"`) ou para não manter nenhuma (`keep=False`).

In [ ]:
example_duplicates.drop_duplicates(["Title"], keep="last")

### Valores faltantes

In [ ]:
movies.iloc[25]

Title                                                   Paris pieds nus
Genre                                                            Comedy
Description           Fiona visits Paris for the first time to assis...
Director                                                 Dominique Abel
Actors                Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...
Year                                                               2016
Runtime (Minutes)                                                    83
Rating                                                              6.8
Votes                                                               222
Revenue (Millions)                                                  NaN
Metascore                                                           NaN
Name: 26, dtype: object

Podemos contar os valores não-faltantes em uma Series ou DataFrame utilizando o método `count`:

In [ ]:
movies["Metascore"].count()

936

In [ ]:
movies.count()

Title                 1000
Genre                 1000
Description           1000
Director              1000
Actors                1000
Year                  1000
Runtime (Minutes)     1000
Rating                1000
Votes                 1000
Revenue (Millions)     872
Metascore              936
dtype: int64

Também é possível verificar quais valores estão faltantes com o método `isnull`:

In [ ]:
movies["Metascore"].isnull()

Rank
1       False
2       False
3       False
4       False
5       False
        ...
996     False
997     False
998     False
999     False
1000    False
Name: Metascore, Length: 1000, dtype: bool

In [ ]:
movies["Metascore"].notnull()

Rank
1       True
2       True
3       True
4       True
5       True
        ...
996     True
997     True
998     True
999     True
1000    True
Name: Metascore, Length: 1000, dtype: bool

In [ ]:
movies.isnull()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
996,False,False,False,False,False,False,False,False,False,True,False
997,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,True,False
1000,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
movies.notnull()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
996,True,True,True,True,True,True,True,True,True,False,True
997,True,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True,True
999,True,True,True,True,True,True,True,True,True,False,True
1000,True,True,True,True,True,True,True,True,True,True,True

> **Exercício:** Filtre na tabela os filmes sem informação de Metascore

In [ ]:
movies.loc[movies["Metascore"].isnull()]

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
40,5- 25- 77,"Comedy,Drama","Alienated, hopeful-filmmaker Pat Johnson's epi...",Patrick Read Johnson,"John Francis Daley, Austin Pendleton, Colleen ...",2007,113,7.1,241,NaN,NaN
43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
968,The Walk,"Adventure,Biography,Crime","In 1974, high-wire artist Philippe Petit recru...",Robert Zemeckis,"Joseph Gordon-Levitt, Charlotte Le Bon,Guillau...",2015,123,7.3,92378,10.14,NaN
970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.29,NaN
972,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.05,NaN
990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN

É possível preencher valores faltantes com um valor específico utilizando o método `fillna`:

In [ ]:
avg_metascore = movies["Metascore"].mean()
movies["Metascore"] = movies["Metascore"].fillna(avg_metascore)

Também é possível remover todas as linhas onde uma coluna está faltando, com o método `dropna`:

In [ ]:
movies = pd.read_csv("IMDB-Movie-Data.csv")
movies.dropna(subset=["Metascore"])